---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import ThemeInfoPage from "../../components/themes/ThemeInfoPage.astro";
---

<Layout title="智慧指向性傳輸暨通訊網路與資訊安全組 - 競賽主題資訊">
  <Navbar />
  <main>
    <ThemeInfoPage themeKey="directional-security" />
  </main>
  <Footer />
</Layout>
