---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import ThemeInfoPage from "../../components/themes/ThemeInfoPage.astro";
---

<Layout title="智慧節能與物聯網應用組 - 競賽主題資訊">
  <Navbar />
  <main>
    <ThemeInfoPage themeKey="energy-iot" />
  </main>
  <Footer />
</Layout>
