---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import DownloadPageContent from "../components/downloads/DownloadPageContent.astro";
---

<Layout title="檔案下載 - 2026 MCPC 行動通訊實務競賽">
  <Navbar />

  <main>
    <DownloadPageContent />
  </main>

  <Footer />
</Layout>
