---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import NewsSection from '../components/NewsSection.astro';
import RulesOverviewSection from '../components/RulesOverviewSection.astro';
import RegistrationSection from '../components/RegistrationSection.astro';
import DownloadSection from '../components/DownloadSection.astro';
import VenueSection from '../components/VenueSection.astro';
import ContactFaqSection from '../components/ContactFaqSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="2026 行動通訊實務競賽 | 首頁">
  <Navbar />

  <main>
    <Hero />
    <NewsSection />
    <RulesOverviewSection />
    <RegistrationSection />
    <DownloadSection />
    <VenueSection />
    <ContactFaqSection />
  </main>

  <Footer />
</Layout>