---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import RulesSection from "../components/RulesSection.astro";
import Footer from "../components/Footer.astro";
import PageHero from "../components/common/PageHero.astro";
---

<Layout title="競賽辦法 - 2026 MCPC 行動通訊實務競賽">
  <Navbar />

  <main class="pt-20">
    <PageHero eyebrow="RULES & DETAILS" title="競賽辦法" />

    <RulesSection />
  </main>

  <Footer />
</Layout>
