---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="報名 / 資料上傳｜2026 MCPC 行動通訊實務競賽">
  <meta http-equiv="refresh" content="0; url=/upload/register" />
  <section class="pt-32 py-20 bg-slate-50 min-h-screen">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
      <p class="text-slate-600">正在前往線上報名頁面……</p>
    </div>
  </section>
</Layout>
