---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import RegisterPageContent from "../../components/upload/RegisterPageContent.astro";
---

<Layout title="線上報名 - 2026 MCPC 行動通訊實務競賽">
  <Navbar />

  <main>
    <RegisterPageContent />
  </main>

  <Footer />
</Layout>
