---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-TW">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="2026 行動通訊實務競賽 - 激發創新思維，培育行動通訊人才" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-50 text-slate-900 font-sans">
		<slot />
	</body>
</html>

<style is:global>
	/* 如果需要全域 CSS 可寫在這 */
	html {
		scroll-behavior: smooth;
	}
</style>